body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #FFFFFF;
}

select, button {
  background-color: #FFFFFF;
  border: 1px solid #CCCCCC;
  height: 27px;
  line-height: 25px;
}
button {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}
button:hover {
  background-color: #EEEEEE;
}
button:active {
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
}
button:disabled {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  background-color: #FFFFFF;
  opacity: 0.5;
}
select {
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
}

code {
  background-color: #F0F0F0;
  border: 1px solid #DDDDDD;
  border-radius: 4px;
  padding: 0.2em;
}

.even code {
  background-color: #E0E0E0;
  border-color: #CCCCCC;
}

/**
 * Hide a submit button, to control which button is pressed when the "Enter" key is pressed.
 * NOTE: "display:none" does not work here. It disables the button.
 */
button.hiddenSubmitButton {
  position: fixed;
  top: -1000px;
  left: -1000px;
}

progress.disabled {
  opacity: 0.3;
}

.header,
.footer {
  background-color: #3366DD;
  padding: 1em;
  color: #FFFFFF;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer {
  justify-content: flex-end;
}
.footer .copyright {
  font-size: 0.8em;
}

.header .user-menu {
  display: flex;

  list-style-type: none;

  margin: 0;
}
.header .user-menu li span,
.header .user-menu li a {
  display: block;
  padding: 0.5em 1.5em;
  text-decoration: none;
  color: #FFFFFF;
}
.header .user-menu li a:hover {
  background-color: #3377EE;
}

.main {
  display: flex;
}

.main .menu {
  display: flex;
  flex-direction: column;

  list-style-type: none;

  margin: 0;
  padding: 1em 0;

  background-color: #FFFFFF;
}
.main .menu li a {
  display: block;
  padding: 0.5em 1.5em;
  text-decoration: none;
  color: #000000;
}
.main .menu li a:hover {
  background-color: #EEEEEE;
}

.main .menu li.active {
  font-weight: bold;
}

.main .content {
  background-color: #EEFFFF;
  padding: 1em;
  flex-grow: 1;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);

  /* Allow overflow:scroll to work on child element (needed with flex layout) */
  overflow: hidden;
}

.main .content .box {
  background-color: #FFFFFF;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  margin: 1em;
  padding: 0.5em 1em;
  overflow: auto;
}

.main .content .box table {
  margin: 0.5em 0;
  border-collapse: collapse;
  width: 100%;
}

.main .content .box table,
.main .content .box table tr.odd td {
  border: 1px solid #EEEEEE;
}
.main .content .box table tr.even td {
  border: 1px solid #DDDDDD;
}

.main .content .box table th {
  border: 1px solid #3377EE;
  color: #FFFFFF;
}

.main .content .box table td,
.main .content .box table th {
  padding: 0.5em 1em;
}

.main .content .box table tr.table-header {
  background-color: #3366DD;
}

.main .content .box table tr.odd {
  background-color: #FFFFFF;
}

.main .content .box table tr.even {
  background-color: #EEEEEE;
}

.main .content .box table tr td.number,
.main .content .box table tr td.date,
.main .content .box table tr td.buttons {
  text-align: right;
}
.main .content .box table tr td.progress {
  text-align: center;
}

.main .content .box table tr.odd td.enabled {
  background-color: #DDFFDD;
}
.main .content .box table tr.even td.enabled {
  background-color: #CCEECC;
}
.main .content .box table tr.odd td.disabled {
  background-color: #FFDDDD;
}
.main .content .box table tr.even td.disabled {
  background-color: #EECCCC;
}

.ok,
.status-green {
  background-color: #DDFFDD;
}
.warningMessage,
.status-yellow {
  background-color: #FFFFDD;
}
.error,
.errorMessage,
.status-red {
  background-color: #FFDDDD;
}

.file-status .label {
  display: inline-block;
  width: 8em;
}
.file-status .label::after {
  content: ":";
}

/* Settings page */
.main .content .box .field {
  margin: 1.5em 0;
}

.main .content .box .field label {
  display: flex;
  align-items: flex-start;
  margin: 0.5em 0;
}

.main .content .box .field .field-group {
  display: flex;
  flex-wrap: wrap;
  gap: 0 1em;
}
.main .content .box .field .field-group label {
  flex: 1 0;
  margin: 0.2em 0;
}

.main .content .box .field label .label {
  width: 20em;
}
.main .content .box .field label input[type=text],
.main .content .box .field label input[type=password] {
  flex-grow: 1;
}
.main .content .box .field label input[type=number] {
  width: 5em;
}

/* Add a red asterisk next to the label of mandatory fields. */
.main .content .box .field label .required::after {
  color: #FF0000;
  content: ' *';
}

.main .content .box .field label .multiple-text {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.main .content .box .field .desc {
  margin: 0.5em;
  font-size: 0.8em;
  color: #999999;
}

.main .content .box .new-index {
  display: flex;
  gap: 0.5em;
}

button.edit,
button.recreate-index,
button.index,
button.index-latest,
button.view-log,
button.close-window,
button.delete {
  cursor: pointer;
  width: 26px;
  font-size: 0; /* Hide button label */

  background-repeat: no-repeat;
  background-position: center center;
}

button.edit {
  background-image: url("../img/pencil.png");
}
button.recreate-index {
  background-image: url("../img/reload.png");
}
button.index {
  background-image: url("../img/cog.png");
}
button.index-latest {
  background-image: url("../img/time.png");
}
button.view-log {
  background-image: url("../img/logs.png");
}
button.close-window {
  background-image: url("../img/close.png");
}
button.delete {
  background-image: url("../img/delete.png");
}

button.add,
button.save,
button.commit,
button.index-all,
button.index-latest-all,
button.refresh,
button.reload {
  cursor: pointer;
  padding-left: 26px;

  background-repeat: no-repeat;
  background-position: 5px center ;
}
button.add {
  background-image: url("../img/add.png");
}
button.save {
  background-image: url("../img/disk.png");
}
button.commit {
  background-image: url("../img/disk.png");
}
button.index-all {
  background-image: url("../img/cog.png");
}
button.index-latest-all {
  background-image: url("../img/time.png");
}
button.refresh {
  background-image: url("../img/cog.png");
}
button.reload {
  background-image: url("../img/cog.png");
}

.content .message .info,
.content .message .warning,
.content .message .error {
  padding: 0.2em;
  margin: 0.5em 0;
}

.content .message .info {
  background-color: #DDFFDD;
}

.content .message .warning {
  background-color: #FFFFDD;
}

.content .message .error {
  background-color: #FFDDDD;
  font-weight: bold;
}

.content .message .details,
.content .message .exception {
  font-weight: normal;
}

.content .message .details .detailList,
.content .message .exception .stacktrace-box {
  font-size: 0.8em;
  color: #666666;
  overflow: auto;
}
.content .message .exception .stacktrace-box {
  font-family: monospace;
}

.main .main-menu {
  flex-shrink: 0;
}

.main .content .submit-search input {
  font-size: 1.2em;
  margin: 1em auto;
}

.main .content .result .title {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: flex-start;
}
.main .content .result .title .reindex {
  /* Prevent re-index button from wrapping */
  flex: 0 0 auto;
}

.main .content .result .preview {
  overflow: auto;
}

.main .content .result .preview .thumbnail {
  float: left;
  margin: 1em 2em 1em 0;
}
.main .content .result .preview .thumbnail .no-thumbnail {
  color: #990000;
  font-style: italic;
  font-weight: bold;
  font-size: 1.5em;
}

.main .content .result .preview .thumbnail img {
  max-width: 250px;
}
.main .content .result .preview .index {
  text-align: right;
  color: #AAAAAA;
  font-size: 0.8em;
}

.main .content .result .jsonResult .json {
  overflow: auto;
}

.main .content .pager ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 1em;

  margin: 0;
  padding: 1em;
}

.main .content .button {
  display: block;
  padding: 0.5em 1em;
  text-decoration: none;
  font-weight: bold;
  color: #FFFFFF;
  background-color: #3366DD;
  border: none;
}
.main .content span.button {
  background-color: #999999;
}
.main .content input.button:hover,
.main .content a.button:hover {
  background-color: #3377EE;
}

/*
 * Simple way to make the element hidden and appear on mouse over, when JS is disabled.
 * NOTE: JavaScript removes the "hover" class, so don't use it for anything else.
 */
.main .clickable {
  cursor: pointer;
}
.main .hover .collapsible {
  display: none;
}
.main .hover:hover .collapsible {
  display: block;
}

.content .modal-window {
  position: fixed;
  inset: 3em; /* Set "top", "bottom", "left" and "right" all at once */
  padding: 1em;

  box-shadow: 0 0 2em #000000;
  background-color: #000000;
  color: #FFFFFF;

  /* Display the logs bellow the header */
  display: flex;
  flex-direction: column;
}

.content .modal-window .logs-header {
  border-bottom: 2px solid #FFFFFF;
  /* Display the X button to the right side of the header */
  display: flex;
}
.content .modal-window .logs-header h2 {
  flex: 1; /* The title occupy all the available horizontal space in the header */
  margin: 0;
}

.content .modal-window .logs {
  flex: 1; /* Occupy all the available vertical space bellow the title */
  overflow: auto;
}

.content .modal-window .logs .box {
  background-color: transparent;
  margin: 0;
  padding: 0;
}

.content .modal-window .logs .message .details .detailList,
.content .modal-window .logs .message .exception .stacktrace-box {
  color: #DDDDDD;
}

.content .modal-window .logs .message .info {
  background-color: #006600;
}
.content .modal-window .logs .message .warning {
  background-color: #666600;
}
.content .modal-window .logs .message .error {
  background-color: #660000;
}
