body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #FFFFFF;
}

select, button {
  background-color: #FFFFFF;
  border: 1px solid #CCCCCC;
  height: 26px;
}
button {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}
button:hover {
  background-color: #EEEEEE;
}
button:active {
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
}
button:disabled {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  background-color: #FFFFFF;
  opacity: 0.5;
}
select {
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
}

/**
 * Hide a submit button, to control which button is pressed when the "Enter" key is pressed.
 * NOTE: "display:none" does not work here. It disables the button.
 */
button.hiddenSubmitButton {
  position: fixed;
  top: -1000px;
  left: -1000px;
}

.header,
.footer {
  background-color: #3366DD;
  padding: 1em;
  color: #FFFFFF;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .user-menu {
  display: flex;

  list-style-type: none;

  margin: 0;
}
.header .user-menu li span,
.header .user-menu li a {
  display: block;
  padding: 0.5em 1.5em;
  text-decoration: none;
  color: #FFFFFF;
}
.header .user-menu li a:hover {
  background-color: #3377EE;
}

.main {
  display: flex;
}

.main .menu {
  display: flex;
  flex-direction: column;

  list-style-type: none;

  margin: 0;
  padding: 1em 0;

  background-color: #FFFFFF;
}
.main .menu li a {
  display: block;
  padding: 0.5em 1.5em;
  text-decoration: none;
  color: #000000;
}
.main .menu li a:hover {
  background-color: #EEEEEE;
}

.main .menu li.active {
  font-weight: bold;
}

.main .content {
  background-color: #EEFFFF;
  padding: 1em;
  flex-grow: 1;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);

  /* Allow overflow:scroll to work on child element (needed with flex layout) */
  overflow: hidden;
}

.main .content .box {
  background-color: #FFFFFF;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  margin: 1em;
  padding: 0.5em 1em;
  overflow: auto;
}

.main .content .box table {
  margin: 0.5em 0;
  border-collapse: collapse;
  width: 100%;
}

.main .content .box table,
.main .content .box table tr.odd td {
  border: 1px solid #EEEEEE;
}
.main .content .box table tr.even td {
  border: 1px solid #DDDDDD;
}

.main .content .box table th {
  border: 1px solid #3377EE;
  color: #FFFFFF;
}

.main .content .box table td,
.main .content .box table th {
  padding: 0.5em 1em;
}

.main .content .box table tr.table-header {
  background-color: #3366DD;
}

.main .content .box table tr.odd {
  background-color: #FFFFFF;
}

.main .content .box table tr.even {
  background-color: #EEEEEE;
}

.main .content .box table tr td.number,
.main .content .box table tr td.date,
.main .content .box table tr td.buttons {
  text-align: right;
}

/* Settings page */
.main .content .box .field {
  margin: 1.5em 0;
}

.main .content .box .field label {
  display: flex;
  align-items: flex-start;
}

.main .content .box .field label .label {
  width: 20em;
}
.main .content .box .field label input[type=text] {
  flex-grow: 1;
}
.main .content .box .field label input[type=number] {
  width: 5em;
}

/* Add a red asterisk next to the label of mandatory fields. */
.main .content .box .field label .required::after {
  color: #FF0000;
  content: ' *';
}

.main .content .box .field label .multiple-text {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.main .content .box .field .desc {
  margin: 0.5em;
  font-size: 0.8em;
  color: #999999;
}

button.edit,
button.index,
button.index-latest,
button.delete {
  width: 26px;
  font-size: 0; /* Hide button label */

  background-repeat: no-repeat;
  background-position: center center;
}

button.edit {
  background-image: url("../img/pencil.png");
}
button.index {
  background-image: url("../img/cog.png");
}
button.index-latest {
  background-image: url("../img/time.png");
}
button.delete {
  background-image: url("../img/delete.png");
}

button.add,
button.save,
button.commit,
button.index-all,
button.index-latest-all,
button.refresh {
  padding-left: 26px;

  background-repeat: no-repeat;
  background-position: 5px center ;
}
button.add {
  background-image: url("../img/add.png");
}
button.save {
  background-image: url("../img/disk.png");
}
button.commit {
  background-image: url("../img/disk.png");
}
button.index-all {
  background-image: url("../img/cog.png");
}
button.index-latest-all {
  background-image: url("../img/time.png");
}
button.refresh {
  background-image: url("../img/cog.png");
}

.main .content .box .info,
.main .content .box .warning,
.main .content .box .error {
  padding: 0.2em;
  margin: 0.5em 0;
}

.main .content .box .warning {
  background-color: #FFFFDD;
}

.main .content .box .error {
  background-color: #FFDDDD;
  font-weight: bold;
}

.main .content .box .error .exception {
  font-weight: normal;
}

.main .content .box .error .exception .stacktrace {
  overflow: auto;
}

.main .content .result .preview {
  overflow: auto;
}

.main .content .result .preview .thumbnail {
  float: left;
  margin: 1em 2em 1em 0;
}
.main .content .result .preview .thumbnail .no-thumbnail {
  color: #990000;
  font-style: italic;
  font-weight: bold;
  font-size: 1.5em;
}

.main .content .result .preview .thumbnail img {
  max-width: 250px;
}
.main .content .result .preview .index {
  text-align: right;
  color: #AAAAAA;
  font-size: 0.8em;
}

.main .content .result .jsonResult .json {
  overflow: auto;
}

.main .content .pager ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 1em;

  margin: 0;
  padding: 1em;
}
.main .content .pager li span,
.main .content .pager li a {
  display: block;
  padding: 0.5em 1em;
  text-decoration: none;
  font-weight: bold;
  color: #FFFFFF;
  background-color: #3366DD;
}
.main .content .pager li span {
  background-color: #999999;
}
.main .content .pager li a:hover {
  background-color: #3377EE;
}

/*
 * Simple way to make the element hidden and appear on mouse over, when JS is disabled.
 * NOTE: JavaScript removes the "hover" class, so don't use it for anything else.
 */
.main .clickable {
  cursor: pointer;
}
.main .hover .collapsible {
  display: none;
}
.main .hover:hover .collapsible {
  display: block;
}
